<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://suiyijie.taiyankeji.com/apk/suiyijie103.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://upload.taiyankeji.com/static/advert/content/0b8d5b8b-8974-4a20-b961-3b9a8226fc46.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://upload.taiyankeji.com/static/advert/content/0b8d5b8b-8974-4a20-b961-3b9a8226fc46.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.taiyan.xy.suiyijie</string>
				<key>bundle-version</key>
				<string>1.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>随易借</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
